/* custom-filepond.css */

/* Drop label styles */
.filepond--root .filepond--drop-label {
    cursor: pointer;
    min-height: 4em;
    color: rgb(136, 145, 170);
  }

  /* Action button styles */
  .filepond--file-action-button {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }

  .filepond--file-action-button:hover,
  .filepond--file-action-button:focus {
    box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.9);
  }

  /* Browse button underline */
  .filepond--label-action {
    text-decoration-color: #aaa;
  }

  /* Panel styles */
  .filepond--panel-root {
    background-color: transparent;
    border-radius: 0.5em;
    border: 1px dashed rgb(31, 48, 76);
  }

  /* Item panel styles */
  .filepond--item-panel {
    border-radius: 0.5em;
    background-color: #1F304C;
  }

  /* Drop circle */
  .filepond--drip-blob {
    background-color: #999;
  }

  /* File text color */
  .filepond--file {
    color: white;
  }

  /* Status states */
  [data-filepond-item-state*='error'] .filepond--item-panel,
  [data-filepond-item-state*='invalid'] .filepond--item-panel {
    background-color: red;
  }

  [data-filepond-item-state='processing-complete'] .filepond--item-panel {
    background-color: green;
  }
